<div class="kebab"
     (click)="clickMenu()">
  <div class="dots">
    <figure></figure><!-- DOT -->
    <figure class="middle"
      #middle ></figure><!-- MIDDLE DOT -->
    <p class="cross"
       #cross >
      x
    </p><!-- CROSS -->
    <figure></figure><!-- DOT -->
  </div><!-- MENU DOTS -->
  <ul class="dropdown"
      #dropdown>
    <li class="pointer-event w-100"
        *ngFor="let option of options; let i = index">
      <div class="option"
           (click)="clickOption(i)">
        {{ option }}
      </div><!-- OPTION -->
    </li><!-- OPTION ITEM -->
  </ul><!-- DROPDOWN OPTION LIST -->
</div><!-- KEBAB MENU -->
