<div id="sidebarMenu" class="sidebar-menu bg-gray p-4"
  [ngClass]="{ 'show': show }">
  <ul class="p-0">
    <li class="cursor-pointer w-100"
        *ngFor="let option of menuOptions; let i = index" >
      <i class="font-size-x-large material-icons">
        {{ option.icon }}
      </i><!-- OPTION ICON -->
      <div class="list-item option text-white pt-3 pb-3"
           (click)="clickOption(i)">
        {{ option.title }}
      </div><!-- OPTION -->
    </li><!-- OPTION ITEM -->
  </ul><!-- OPTION LIST -->
</div><!-- SIDEBAR MAIN CONTAINER -->
