<div class="container-fluid height-100 mb-5 p-4">
  <div class="row justify-content-start align-items-start height-100">
    <div class="col-5 align-self-start">

      <h2 class="mt-2 mb-5">
        {{ title }}
      </h2><!-- TITLE -->

      <form [formGroup]="form">

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title"
                 formControlName="title"
                 [value]="task.title"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.title.errors }"> <!-- TITLE -->
          <div *ngIf="submitted && form.controls.title.errors" class="invalid-feedback">
              <div *ngIf="form.controls.title.errors.required">Title is required</div>
              <div *ngIf="form.controls.title.errors.maxLength">Title length must be less than 75 characters</div>
          </div><!--  IF ERRORS IN TITLE -->
        </div><!-- TITLE FORM GROUP -->
        <div class="form-group">
          <label for="summary">Summary</label>
          <input type="text" class="form-control" id="summary" name="summary"
                 formControlName="summary"
                 [value]="task.summary"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.summary.errors }"> <!-- SUMMARY -->
          <div *ngIf="submitted && form.controls.summary.errors" class="invalid-feedback">
              <div *ngIf="form.controls.summary.errors.maxLength">Password length must be less than 200 characters</div>
          </div> <!--  IF ERRORS IN SUMMARY -->
        </div> <!-- SUMMARY FORM GROUP -->
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description"
                 formControlName="description" [value]="task.description">
          </textarea> <!-- DESCRIPTION -->
        </div><!-- DESCRIPTION FORM GROUP -->
        <div class="form-group custom-file d-flex mb-3 h-auto">
          <label for="attached">Attached</label>
          <label class="custom-file-label" for="attached">
            {{this.task.attached ? this.task.attached.split('/').pop() : 'Choose a zip file'}}
          </label>
          <input type="file" class="form-control custom-file-input" id="attached" name="attached"
                 formControlName="attached"
                 [value]="attached"
                 (change)="fileChange($event)"> <!-- ATTACHED -->
        </div> <!-- ATTACHED FORM GROUP -->
        <div class="row">
          <div class="col">
            <small>Only zips are allowed</small>
          </div>
          <div class="col text-right">
            <a *ngIf="this.isUpdate && this.task.attached" class="btn btn-primary" [href]="this.fileUrl">Download</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="sr-only" for="assignment">Username</label><!-- INPUT SR LABEL -->
              <label for="assignment">Assignment</label><!-- LABEL -->
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div><!-- INPUT CARET -->
                <!--suppress TypeScriptUnresolvedVariable -->
                <input
                  type="text"
                  class="form-control"
                  id="assignment"
                  placeholder="User name"
                  formControlName="assignment"
                  list="suggestionsUserList"
                  autocomplete="off"
                  (input)="changeAssignment($event.target.value)"><!-- ASSIGNMENT -->
                <datalist id="suggestionsUserList">
                  <option
                     [value]="user.name"
                     *ngFor="let user of suggestionsUserList">
                    {{user.name}}
                  </option>
                </datalist>

              </div><!-- ASSIGNMENT INPUT GROUP -->
            </div><!-- ASSIGNMENT FORM GROUP -->
          </div><!-- ASSIGNMENT LEFT COL -->
          <div class="col">
            <div class="form-group">
              <label for="priority">Priority</label>
              <select class="form-control w-100" id="priority"
                      (change)="changePriority($event.target.value) //noinspection UnresolvedVariable">
                <option
                  [value]="i"
                  *ngFor="let priority of priorities; let i = index">
                  {{priority}}
                </option>
              </select><!-- PRIORITY -->
            </div><!-- PRIORITY FORM GROUP -->
          </div><!-- PRIORITY RIGHT COL -->
        </div><!-- FIRST BOTTOM ROW COLS -->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exp_date">Expiration date</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="material-icons">calendar_today</i>
                  </div>
                </div><!-- INPUT CARET -->
                <input type="date" name="exp_date" id="exp_date" max="3000-12-31" min="2020-01-01" class="form-control"
                  formControlName="exp_date"
                  [value]="task.expirationDate"><!-- EXPIRATION DATE -->
              </div>
            </div><!-- EXP DATE FORM GROUP -->
          </div><!-- EXP DATE LEFT COL -->
          <div class="col">
            <div class="form-group">
              <label for="column">Column</label>
              <select class="form-control w-100" id="column"
                      (change)="changeColumn($event.target.value) //noinspection UnresolvedVariable">
                <option
                   [value]="i"
                   *ngFor="let column of columns; let i = index">
                  {{ column.title }}
                </option>
              </select><!-- COLUMN -->
            </div><!-- COLUMN FORM GROUP -->
          </div><!--COLUMN RIGHT COL -->
        </div><!-- SECOND BOTTOM ROW COLS -->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
            <label class="sr-only" for="tag">Add tag</label><!-- INPUT SR LABEL -->
            <label for="tag">Tag</label><!-- LABEL -->
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="material-icons">bookmarks</i>
                </div>
              </div><!-- INPUT CARET -->
              <!--suppress TypeScriptUnresolvedVariable -->
              <input type="text" class="form-control" id="tag" name="tag" placeholder="Select tag"
                     list="suggestionsTagList" autocomplete="off"
                     formControlName="tag"
                     (input)="changeTag($event.target.value)"><!-- TAG -->
              <datalist id="suggestionsTagList">
                <option
                  [value]="tag.title"
                  *ngFor="let tag of suggestionsTagList">
                  {{tag.title}}
                </option>
              </datalist>
            </div><!-- TAG INPUT GROUP -->
          </div><!-- TAG FORM GROUP -->
          </div><!-- TAG COL -->
        </div><!-- THIRD BOTTOM ROW COLS -->

        <div class="row align-items-center mt-5">
          <div class="col">
            <button type="submit" class="btn btn-success"
                    (click)="onSubmit()">
              Save
            </button>
          </div><!-- FIRST COL SAVE BUTTON -->
          <div class="col text-right"
               *ngIf="isUpdate">
            <button type="submit" class="btn btn-danger"
                    (click)="onSubmit('remove')">
              Remove task
            </button>
          </div><!-- SECOND COL REMOVE BUTTON -->
        </div><!--  FIRST FOOTER ROW -->

      </form> <!-- FORM -->

      <app-simple-modal #simpleModal (closeModalEventEmitter)="closeModal($event)"></app-simple-modal> <!-- MODAL -->

    </div><!-- MAIN COL -->
  </div><!-- MAIN ROW -->
</div><!-- MAIN CONTAINER -->
