.height-100 {
  height: 100%;
}

.logo {
  padding-bottom: 20px;
}

.new-user {
  padding-top: 10px;
}

.register-content {
  position: absolute;
  top: -12%;
}

.hpf {
  position: absolute;
  left: -10000px;
}
