<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <div class="row w-100 m-0">
      <div class="col text-left">
        <button class="navbar-toggler d-flex align-items-center" type="button"
                (click)="showSideMenuOnClick()">
          <span class="navbar-toggler-icon"></span>
        </button><!-- HAMBURGER MENU -->
      </div><!-- HAMBURGER MENU BUTTON COL -->
      <div class="col offset-9 bg-dark d-flex mr-0">
        <div class="row align-self-end m-0 w-100">
          <div class="col">
            <button type="button" class="btn btn-dark d-flex align-items-center"
                    (click)="clickProfile()">
              <i class="material-icons profile-icon">portrait</i>
            </button><!-- PROFILE BUTTON -->
          </div><!-- PROFILE BUTTON COL -->
          <div class="col text-right">
            <app-three-dots-menu
              [options]="threeDotsMenu"
              (clickOptionEmmit)="menuOptionClick($event)">
            </app-three-dots-menu><!-- MENU -->
          </div><!-- MENU COL -->
        </div>
      </div><!-- PROFILE AND MENU COL -->
    </div><!-- TOOLBAR CONTENT ROW -->
  </nav><!-- TOOLBAR -->
</div><!-- TOOLBAR ROOT -->

