<div class="row h-100 mb-5 pl-3">
  <div class="col card shadow-sm tasksColumn mr-3 h-100 p-0"
       *ngFor="let column of columns"
       (dragover)="allowDrop($event)"
       (drop)="dropCard($event, column)">
    <div class="card-header">
      <div class="row">
        <div class="col d-flex text-left align-items-center">
          {{ column.title }}
        </div><!-- TITLE COL -->
        <div class="col-1 pt-1">
          <app-three-dots-menu
            [options]="columnOptions"
            (clickOptionEmmit)="removeColumn(column)">
          </app-three-dots-menu>
        </div><!-- 3 DOTS MENU COL -->
      </div><!-- HEADER ROW -->
    </div><!-- COLUMN HEADER -->
    <div class="card-body column">
      <div class="card h-auto shadow-sm mb-3 cursor-pointer"
           draggable="true"
           id="{{ task.uuid }}"
           (dragstart)="dragCard($event, task)"
           (click)="clickCard(task)"
           *ngFor="let task of taskList | filterColumnTasks: column">
        <div class="card-body">
          <h5 class="card-title">
            {{ task.title }}
          </h5><!-- TASK TITLE -->
          <p class="card-text">
            {{ task.summary }}
          </p><!-- TASK SUMMARY -->
          <div class="badge badge-primary width-max-content"
               *ngIf="task.tag && task.tag.title">
            {{ task.tag.title }}
          </div><!-- TASK TAG -->
        </div><!-- TASK CARD BODY -->
        <div class="card-footer d-inline-flex">
          <div class="col text-left m-0 p-0">
            <div class="text-muted">
              {{ task.assignment ? task.assignment.name : 'Not assigned' }}
            </div>
          </div><!-- TASK ASSIGNMENT COL -->
          <div class="col text-right m-0 p-0">
            <div class="text-muted">
              {{ task.expirationDate ? (task.expirationDate | date) : 'Without expiration date' }}
            </div>
          </div><!-- TASK EXP DATE COL -->
        </div><!-- TASK CARD FOOTER -->
      </div><!-- TASK CARD -->
    </div><!-- COLUMN BODY -->
  </div><!-- MAIN COL -->
</div><!-- MAIN ROW -->
