.main-content-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: left .5s ease-in-out; }
  .main-content-section.showed-menu {
    left: 20%;
    transition: left .5s ease-in-out; }

/*# sourceMappingURL=main-content.component.css.map */
