<div class="container-fluid h-100">
  <div class="row justify-content-start h-100">
    <div class="col p-4">

      <h2 class="mt-2 mb-5">
        Users administration
      </h2><!-- TITLE -->

      <table class="table" id="usersTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Mail</th>
            <th class="text-center" scope="col">Role</th>
            <th class="text-center" scope="col">Active</th>
            <th class="text-center" scope="col">Delete</th>
          </tr>
        </thead><!-- THEAD -->
        <tbody>
          <tr class="row-fluid"
              *ngFor="let user of users index as i" >
            <th class="col-1">
              {{ i + 1 }}
            </th>
            <td class="col-3">
              {{ user.name }}
            </td><!-- TD -->
            <td class="col-4">
              {{ user.mail }}
            </td><!-- TD -->
            <td class="col-2 text-center w-75">
              <select class="form-control" id="role"
                      (change)="changeUserRole(user, $event.target.value) //noinspection UnresolvedVariable">
                <option
                  *ngFor="let role of roles"
                  [value]="role.uuid"
                  [selected]="user.role.uuid === role.uuid">
                  {{role.name}}
                </option>
              </select>
              <label style="display: none" for="role"></label>
            </td><!-- TD -->
            <td class="col-1 text-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input form-control" id="status-{{user.uuid}}"
                       [(ngModel)]="user.status"
                       [checked]="user.status"
                       (change)="changeUserStatus(user)">
                <label class="custom-control-label" for="status-{{user.uuid}}"></label>
              </div>
            </td><!-- TD -->
            <td class="col-1 text-center">
              <i class="material-icons" style="font-size: 35px"
                 (click)="removeUser(user)">
                delete_forever
              </i>
            </td><!-- TD -->
          </tr><!-- TR -->
        </tbody><!-- TBODY -->
      </table><!-- TABLE -->
      <app-simple-modal #simpleModal (closeModalEventEmitter)="closeModal($event)"></app-simple-modal> <!-- MODAL -->

    </div><!-- MAIN COL -->
  </div><!-- MAIN ROW -->
</div><!-- MAIN CONTAINER -->
