<div class="container-fluid h-100">
  <div class="row justify-content-start h-100">
    <div class="col p-4">

      <div class="row">
        <div class="col">
          <h2 class="mt-2 mb-5">
            Task panel
          </h2><!-- TITLE -->
        </div><!-- COL TITLE -->
        <div class="col offset-8 pt-1 text-right">
          <button id="boardBtn" type="button" class="btn btn-outline-dark material-icons ml-1 mr-1 h-50"
                  (click)="boardModeClick()">
            grid_on
          </button>
          <button id="listBtn" type="button" class="btn btn-outline-dark material-icons ml-1 mr-1 h-50"
                  (click)="listModeClick()">
            list
          </button>
        </div><!-- COL VIEW MODE BUTTONS -->
      </div><!-- HEADER ROW -->

      <app-tasks-board
        *ngIf="viewModeBoard && (tasksCount > 0 || columnsCount > 0)"
        [taskList]="tasks"
        [columnList]="columns"
        (updateTaskColumnEmmit)="updateTaskColumn($event)"
        (clickRemoveColumnEmmit)="removeColumnClicked($event)"
        (clickCardEmmit)="goToTask($event)">
      </app-tasks-board><!-- BOARD VIEW MODE -->

      <app-tasks-list
        *ngIf="!viewModeBoard && tasksCount > 0"
        [taskList]="tasks"
        (clickedCard)="goToTask($event)">
      </app-tasks-list><!-- LIST VIEW MODE -->

      <div class="text-center text-black-50 font-weight-bold h-100" style="margin-top: 20%; font-size: x-large"
        *ngIf="(viewModeBoard && (tasksCount == 0 && columnsCount == 0)) || (!viewModeBoard && tasksCount == 0)">
        NO TASKS FOUND, TRY TO CREATE ONE BY CLICKING IN ADD TASK BUTTON INNER THE MENU OR INNER SIDEBAR MENU
      </div>

      <app-simple-modal #simpleModal (closeModalEventEmitter)="closeModal($event)"></app-simple-modal> <!-- MODAL -->

    </div><!-- MAIN COL -->
  </div><!-- MAIN ROW -->
</div><!-- MAIN CONTAINER -->
