.app-main-wrapper {
  height: 100%;
  width: 100%;
  position: absolute; }

.main-content-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  top: 69.5px; }

header {
  position: fixed;
  width: 100%;
  height: max-content;
  z-index: 99; }

/*# sourceMappingURL=app.component.css.map */
