<div class="modal fade" tabindex="-1" role="dialog" id="simpleModalDialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"
           [ngClass]="{
           'alert alert-danger': is_error && !is_warning,
           'alert alert-primary': !is_error && !is_warning,
           'alert alert-warning': is_warning}">
        <h4 class="modal-title w-100 text-center" id="modal-basic-title">
          {{ modal_title}}
        </h4>
      </div> <!-- MODAL HEADER -->
      <div class="modal-body text-center">
        {{ modal_text }}
      </div> <!-- MODAL BODY-->
      <div class="modal-footer">
        <div class="row w-100">
          <div class="col">
            <button type="button"
                    class="btn"
                    [ngClass]="{
                      'btn-outline-danger': is_error && !is_warning,
                      'btn-outline-primary': !is_error && !is_warning,
                      'btn-outline-warning': is_warning,
                      'float-right': !is_warning
                    }"
                    (click)="closeModal()">
              {{ modal_button_text }}
            </button><!-- MODAL FOOTER OK BUTTON -->
          </div><!-- MODAL FOOTER OK COL -->
          <div class="col"
               *ngIf="is_cancellable">
            <button type="button"
                    class="btn btn-outline-danger float-right"
                    (click)="cancelModal()">
              Cancel
            </button><!-- MODAL FOOTER CANCEL BUTTON -->
          </div><!-- MODAL FOOTER CANCEL COL -->
        </div><!-- MODAL FOOTER ROW -->
      </div> <!-- MODAL FOOTER -->
    </div> <!-- MODAL CONTENT -->
  </div> <!-- MODAL DIALOG -->
</div> <!-- MODAL ROOT -->
