<div class="container-fluid height-100 login-content">
  <div class="row justify-content-center align-items-center height-100">
    <div class="col-4 align-self-center">

      <img src="../../../assets/static/logo.png" class="img-fluid logo" alt="Logo"> <!-- LOGO -->

      <form
        [formGroup]="form"
        (ngSubmit)="login()">

        <div class="form-group">
          <label for="um">Email</label>
          <input type="email" class="form-control" id="um" name="um"
                 formControlName="um" [value]="user.mail"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.um.errors }"> <!-- USER MAIL -->
          <div *ngIf="submitted && form.controls.um.errors" class="invalid-feedback">
              <div *ngIf="form.controls.um.errors.required">Email is required</div>
              <div *ngIf="form.controls.um.errors.email">Email must be a valid email address</div>
          </div><!--  IF ERRORS IN USER MAIL -->
        </div><!-- EMAIL FORM GROUP -->
        <div class="form-group">
          <label for="up">Password</label>
          <input type="password" class="form-control" id="up" name="up"
                 formControlName="up"
                 [value]="user.password"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.up.errors }"> <!-- USER PASSWORD -->
          <div *ngIf="submitted && form.controls.up.errors" class="invalid-feedback">
              <div *ngIf="form.controls.up.errors.required">Password is required</div>
              <div *ngIf="form.controls.up.errors.minlength">Password must be at least 4 characters</div>
          </div> <!--  IF ERRORS IN USER PASS -->
        </div> <!--  PASSWORD FORM GROUP -->

        <div class="row align-items-center">
          <div class="col">
            <button type="submit" class="btn btn-primary">
              SIGN IN
            </button>
          </div><!-- SING IN COL -->
          <div class="col text-right">
            <a [routerLink]="['/forgot-password']">
              Forgot your password?
            </a>
          </div><!-- FORGOT PASSWORD COL -->
        </div><!--  FIRST FOOTER ROW -->

        <div class="row align-items-center">
          <div class="col text-left new-user">
            <a [routerLink]="['/register']">
              New user? Sign up!
            </a>
          </div><!-- SING UP COL -->
        </div> <!--  SECOND FOOTER ROW -->

        <!-- HONEY POT FIELDS -->
        <label for="mail" class="hpf">Email</label>
        <input type="email"
               class="form-control hpf"
               id="mail"
               name="mail">
        <label for="password" class="hpf">Password</label>
        <input type="password"
               class="form-control hpf"
               id="password"
               name="password">
        <!-- END HONEY POT FIELDS -->

      </form> <!-- FORM -->

      <app-simple-modal #simpleModal (closeModalEventEmitter)="closeModal()"></app-simple-modal> <!-- MODAL -->

    </div><!-- MAIN COL -->
  </div><!-- MAIN ROW -->
</div><!-- MAIN CONTAINER -->
