<div class="container-fluid h-100">
  <div class="row justify-content-start h-100">
    <div class="col-4 p-4">

      <h2 class="mt-2 mb-5">
        Profile
      </h2><!-- TITLE -->

      <form class="mt-4"
            [formGroup]="form">

        <div class="form-group">
          <label for="um">Email</label>
          <input type="email" class="form-control" id="um" name="um"
                 formControlName="um"
                 [value]="user.mail"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.um.errors }"> <!-- USER MAIL -->
          <div *ngIf="submitted && form.controls.um.errors" class="invalid-feedback">
              <div *ngIf="form.controls.um.errors.required">Email is required</div>
              <div *ngIf="form.controls.um.errors.email">Email must be a valid email address</div>
              <div *ngIf="form.controls.um.errors.maxLength">Email length must be less than 255 characters</div>
          </div><!--  IF ERRORS IN USER MAIL -->
        </div><!-- FORM GROUP EMAIL -->
        <div class="form-group">
          <label for="up">New password</label>
          <input type="password" class="form-control" id="up" name="up"
                 formControlName="up"
                 [value]="user.password"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.up.errors }"> <!-- USER PASSWORD -->
          <div *ngIf="submitted && form.controls.up.errors" class="invalid-feedback">
              <div *ngIf="form.controls.up.errors.required">Password is required</div>
              <div *ngIf="form.controls.up.errors.minlength">Password must be at least 4 characters</div>
              <div *ngIf="form.controls.up.errors.maxLength">Password length must be less than 255 characters</div>
          </div> <!--  IF ERRORS IN USER PASS -->
        </div> <!--  FORM GROUP NEW PASS -->
        <div class="form-group">
          <label for="up_2">Repeat new password</label>
          <input type="password" class="form-control" id="up_2" name="up_2"
                 formControlName="up_2"
                 [value]="userPass2"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.up_2.errors }"> <!-- USER PASSWORD -->
          <div *ngIf="submitted && form.controls.up_2.errors" class="invalid-feedback">
              <div *ngIf="form.controls.up_2.errors.required">Password is required</div>
              <div *ngIf="form.controls.up_2.errors.minlength">Password must be at least 4 characters</div>
              <div *ngIf="form.controls.up2.errors.maxLength">Password length must be less than 32 characters</div>
          </div> <!--  IF ERRORS IN USER PASS -->
        </div> <!--  FORM GROUP REPEAT PASS -->
        <div class="form-group mb-5">
          <label for="un">Name</label>
          <input type="text" class="form-control" id="un" name="un"
                 formControlName="un" [value]="user.name"> <!-- USER NAME -->
          <div *ngIf="submitted && form.controls.un.errors" class="invalid-feedback">
              <div *ngIf="form.controls.un.errors.maxLength">Name length must be less than 75 characters</div>
          </div><!--  IF ERRORS IN USER MAIL -->
        </div><!-- FORM GROUP NAME -->
        <div class="form-group custom-file row d-flex mb-3 h-auto m-0">
          <div class="col align-self-center">
            <label class="custom-file-label" for="av">
              {{this.user.avatar ? this.user.avatar.split('/').pop() : 'Choose an image'}}
            </label>
            <input type="file" class="form-control custom-file-input" id="av" name="av"
                   formControlName="av"
                   [value]="avatarFile"
                   (change)="onFileChange($event)"> <!-- USER av -->
          </div>
          <div class="col-4 d-flex justify-content-end">
            <img class="img-fluid align-self-center" style="max-height: 80px" src="{{ this.user.avatar ? backBasePath + this.user.avatar : backBasePath + '/uploads/av_dummy.png'}}" alt="User photo"/>
          </div>
        </div> <!--  FORM GROUP av -->

        <div class="row align-items-center mt-5">
          <div class="col">
            <button type="submit" class="btn btn-success"
                    (click)="onSubmitProfile('save')">
              Save
            </button>
          </div><!-- FIRST FOOTER COL -->
          <div class="col text-right">
            <button type="submit" class="btn btn-danger"
                    (click)="onSubmitProfile('remove')">
              Remove account
            </button>
          </div><!-- SECOND FOOTER COL -->
        </div><!--  FIRST FOOTER ROW -->

      </form> <!-- FORM -->

      <app-simple-modal #simpleModal (closeModalEventEmitter)="closeModalProfile($event)"></app-simple-modal> <!-- MODAL -->

    </div><!-- MAIN COL -->
  </div><!-- MAIN ROW -->
</div><!-- MAIN CONTAINER -->
